<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="plugins" type="Smarthouse.pluginsSection, Smarthouse, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <plugins>
    <pluginInfos>
      <add className="Smarthouse.Terminal, Smarthouse, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleCfgPath="C:\Users\Smirnyaga\GoogleDrive\code\Not done\C#\Smarthouse\Smarthouse\Terminal.cfg"/>
      <add className="Smarthouse.AccountManager, Smarthouse, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleCfgPath="C:\Users\Smirnyaga\GoogleDrive\code\Not done\C#\Smarthouse\Smarthouse\AccountManager.cfg"/>
    </pluginInfos>
  </plugins>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

</configuration>