<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="plugins" type="Smarthouse.PluginsSection, Smarthouse, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <plugins>
    <pluginInfos>
      <add className="Smarthouse.TcpNetwork, Smarthouse, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
        <description>
          <add name="name" value="NetworkMain"/>
        </description>
        <moduleConfig>
          <host localID="NetworkMain"/>
          <listener port="111"/>
        </moduleConfig>
      </add>
      <add className="Smarthouse.TcpNetwork, Smarthouse, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
        <description>
          <add name="name" value="NetworkAdditional1"/>
        </description>
        <moduleConfig>
          <host localID="NetworkAdditional1"/>
          <listener port="112"/>
        </moduleConfig>
      </add>
      <add className="Smarthouse.TcpNetwork, Smarthouse, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
        <description>
          <add name="name" value="NetworkAdditional2"/>
        </description>
        <moduleConfig>
          <host localID="NetworkAdditional2"/>
          <listener port="113"/>
        </moduleConfig>
      </add>
      <add className="Smarthouse.Test, Smarthouse, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
        <description>
          <add name="name" value="Test"/>
        </description>
        <moduleConfig>

        </moduleConfig>
      </add>
      <add className="Smarthouse.Hardware, Smarthouse, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
        <description>
          <add name="name" value="Hardware"/>
        </description>
        <moduleConfig>

        </moduleConfig>
      </add>
    </pluginInfos>
  </plugins>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
